.elemento{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  margin-left: 10px;
  margin-right: 10px;
}
.datos{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.campo{
  width: 20%;
  text-align: right;
}