<form (ngSubmit)="enviar(frm)" #frm="ngForm">
  <md-select placeholder="Tipo de carga" [(ngModel)]="tipo" name="carga" (change)="cambiaTipo()">
    <md-option *ngFor="let t of tipos" [value]="t">
      {{t.descripcion}}
    </md-option>
  </md-select>
  <md-form-field class="datos">
    <textarea mdInput  rows="5"  placeholder="proporcione las {{tipo.descripcion.toUpperCase()}} del día:" [(ngModel)]="datos" name="datos"></textarea>
  </md-form-field>
   <button md-raised-button color="primary">Cargar {{tipo.descripcion.toUpperCase()}}</button>
</form>
<div class="campo">
    <md-input-container  >
      <input  mdInput [mdDatepicker]="pk1" placeholder="Inicio:" [(ngModel)]="fi" name="fecha" >
      <md-datepicker-toggle  mdSuffix [for]="pk1"></md-datepicker-toggle>
    </md-input-container>
    <md-datepicker #pk1 (selectedChanged)="cambiaInicio($event)"></md-datepicker>
</div>  
<div class="campo">
    <md-input-container  mdTooltip="">
      <input 
          mdInput [mdDatepicker]="pk2" 
          placeholder="Inicio:" 
          (change)="cambioFecha()"
           [(ngModel)]="ff" name="fecha" >
      <md-datepicker-toggle  mdSuffix [for]="pk2"></md-datepicker-toggle>
    </md-input-container>
    <md-datepicker #pk2 (selectedChanged)="cambiaTermino($event)"></md-datepicker>
</div>  
<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="registros">

    <ng-container mdColumnDef="fecha">
      <md-header-cell *mdHeaderCellDef> Fecha </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.fecha}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="efectivo">
      <md-header-cell *mdHeaderCellDef> Efectivo </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.efectivo}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="tarjeta">
      <md-header-cell *mdHeaderCellDef> Tarjeta </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.tarjeta}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="total">
      <md-header-cell *mdHeaderCellDef> Total </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.total}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
  <md-paginator #paginator
                [length]="registros.registros.length"
                [pageIndex]="0"
                [pageSize]="7"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>
</div>
<!--md-list>
  <h3 md-subheader>Ventas</h3>
  <md-list-item class="elemento">
    <md-icon md-list-icon>date_range</md-icon>
    <div class="campo">Fecha</div>
    <div class="campo" *ngIf="tipo.descripcion=='ventas'">Efectivo</div>
    <div class="campo" *ngIf="tipo.descripcion=='ventas'">Tarjeta</div>
    <div class="campo" *ngIf="tipo.descripcion=='ventas'">TOTAL</div>
    <div class="campo" *ngIf="tipo.descripcion=='comisiones'">Comisiones</div>
  </md-list-item>
  <md-list-item class="elemento" *ngFor="let dts of registros">
    <md-icon md-list-icon>date_range</md-icon>
    <div class="campo">{{dts.fecha}}</div>
    <div class="campo" *ngIf="tipo.descripcion=='ventas'">{{dts.efectivo}}</div>
    <div class="campo" *ngIf="tipo.descripcion=='ventas'">{{dts.tarjeta}}</div>
    <div class="campo" *ngIf="tipo.descripcion=='ventas'">{{dts.total}}</div>
    <div class="campo" *ngIf="tipo.descripcion=='comisiones'">{{dts.comisiones}}</div>
  </md-list-item>
  <md-list-item class="elemento" >
    <md-icon md-list-icon>date_range</md-icon>
    <div class="campo">Total</div>
    <div class="campo" *ngIf="tipo.descripcion=='ventas'">{{totalEfectivo}}</div>
    <div class="campo" *ngIf="tipo.descripcion=='ventas'">{{totalTarjeta}}</div>
    <div class="campo" *ngIf="tipo.descripcion=='ventas'">{{total}}</div>
    <div class="campo" *ngIf="tipo.descripcion=='comisiones'">{{totalComisiones}}</div>
  </md-list-item>
  <md-divider></md-divider>
</md-list-->
