<table class="table table-striped table-sm table-bordered" *ngIf="!cargando">
  <thead>
    <tr>
      <td>
        <md-input-container  >
          <input [disabled]="(modo=='revision')" mdInput [mdDatepicker]="pk1" placeholder="Inicio:" disabled="true" [(ngModel)]="fi" name="fecha" >
          <md-datepicker-toggle  mdSuffix [for]="pk1"></md-datepicker-toggle>
        </md-input-container>
        <md-datepicker #pk1 (selectedChanged)="cambiaInicio($event)"></md-datepicker>
      </td>
      <td>
        <md-input-container  mdTooltip="">
          <input [disabled]="(modo=='revision')" 
              mdInput [mdDatepicker]="pk2" 
              placeholder="Inicio:" 
              (change)="cambioFecha()"
               [(ngModel)]="ff" name="fecha" >
          <md-datepicker-toggle  mdSuffix [for]="pk2"></md-datepicker-toggle>
        </md-input-container>
        <md-datepicker #pk2 (selectedChanged)="cambiaTermino($event)"></md-datepicker>
      </td>
    </tr>
  </thead>
</table>

<md-spinner *ngIf="cargando"></md-spinner>
<table class="table table-striped table-sm table-bordered" *ngIf="!cargando">
  <thead>
    <tr>
      <th>Borrar</th>
      <th>Folio</th>
      <th >Fecha</th>
      <th >Gastos</th>
      <th >Tarjeta </th>
      <th >Propina </th>
      <th >Calculado</th>
      <th >Contado</th>
      <th >Comentarios</th>
      <th >Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dts of registros;let i=index">
      <th scope="row"> 
        <button md-mini-fab color="warn" (click)="borrarGasto(dts)">
          <md-icon md-list-icon>delete_forever</md-icon>
        </button>
      </th>
      <td class="text-right">{{dts.id}}</td>
      <td class="text-right">{{dts.fecha}}</td>
      <td class="text-right">{{dts.gastos| currency:'USD':true:'2.2-4'}}</td>
      <td class="text-right">{{dts.tarjeta | currency:'USD':true:'2.2-4'}}</td>
      <td class="text-right">{{dts.propina| currency:'USD':true:'2.2-4'}}</td>
      <td class="text-right">{{dts.contado| currency:'USD':true:'2.2-4'}}</td>
      <td class="text-right">
        <div class="contado" *ngIf="!dts.editado">{{dts.contado| currency:'USD':true:'2.2-4'}}</div>
        <input mdInput *ngIf="dts.editado" placeholder="Contado:" [(ngModel)]="contado"  value="{{dts.contado}}">
      </td>
      <td class="text-right">
        <div class="contado" *ngIf="!dts.editado">{{dts.gastos| currency:'USD':true:'2.2-4'}}</div>
        <input mdInput *ngIf="dts.editado" placeholder="Comentarios:" [(ngModel)]="comentarios" value="{{dts.comentarios}}">
      </td>
      <td class="text-right">{{dts.comentarios }}</td>
      <td>
        <button md-mini-fab color="primary" (click)="editar(dts)" *ngIf="!dts.editado">
          <md-icon class="md-24" aria-label="Example icon-button with a heart icon">edit</md-icon>
        </button>
        <button md-mini-fab color="primary" (click)="guardarregistro(dts)" *ngIf="dts.editado">
          <md-icon class="md-24" aria-label="Example icon-button with a heart icon">save</md-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
