<div class="row">
	
	<div class="campo">
	    <md-input-container  >
	      <input  mdInput [mdDatepicker]="pk1" placeholder="Inicio:"  [(ngModel)]="fi" name="fecha" >
	      <md-datepicker-toggle  mdSuffix [for]="pk1"></md-datepicker-toggle>
	    </md-input-container>
	    <md-datepicker #pk1 (selectedChanged)="cambiaInicio($event)"></md-datepicker>
	</div>
	<div class="campo">
	    <md-input-container  mdTooltip="">
	      <input
	          mdInput [mdDatepicker]="pk2"
	          placeholder="Termino:"
	          (change)="cambioFecha()"
	           [(ngModel)]="ff" name="fecha" >
	      <md-datepicker-toggle  mdSuffix [for]="pk2"></md-datepicker-toggle>
	    </md-input-container>
	    <md-datepicker #pk2 (selectedChanged)="cambiaTermino($event)"></md-datepicker>
	</div>
</div>
<form #f="ngForm" >
<div class="row">
	<div class="campo">
	    <md-input-container  >
	      <input  mdInput [mdDatepicker]="pk3" placeholder="Inicio:"  [(ngModel)]="fg" name="fg" >
	      <md-datepicker-toggle  mdSuffix [for]="pk3"></md-datepicker-toggle>
	    </md-input-container>
	    <md-datepicker #pk3 ></md-datepicker>
	</div>
	<div class="campo">
		<md-input-container  mdTooltip="">
	    <input mdInput name="monto" required [(ngModel)]="uno" maxlength="15" placeholder="Monto" type="number" >
		</md-input-container>
	</div>
	<div class="campo">
		<md-input-container  mdTooltip="">
	    <input mdInput name="concepto" required  [(ngModel)]="dos" maxlength="15" placeholder="Concepto" >
		</md-input-container>
	</div>
	<div class="campo">
		<button [disabled]="f.invalid" md-raised-button color="primary" (click)="agregarGasto(f.value)">Agregar</button>
	</div>
</div>
</form>


<md-spinner *ngIf="cargando"></md-spinner>
<table class="table table-striped table-sm table-bordered" *ngIf="!cargando">
  <thead>
    <tr>
      <th>Borrar</th>
      <th >Fecha</th>
      <th >Monto</th>
      <th >Descripción </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dts of registros;let i=index">
      <th scope="row"> 
        <button md-mini-fab color="warn" (click)="borrarGasto(dts)">
          <md-icon md-list-icon>delete_forever</md-icon>
        </button>
      </th>
      <td class="text-right">{{dts.fecha}}</td>
      <td class="text-right">{{dts.monto| currency:'USD':true:'2.2-4'}}</td>
      <td class="text-right">{{dts.descripcion }}</td>
    </tr>
  </tbody>
</table>
