
<form #f="ngForm" >
  <table class="table table-striped table-sm table-bordered" *ngIf="!cargando">
    <thead>
      <tr>
        <td>
          <md-input-container  >
            <input  mdInput [mdDatepicker]="pk1" placeholder="Inicio:"  [(ngModel)]="fi" name="fecha" >
            <md-datepicker-toggle  mdSuffix [for]="pk1"></md-datepicker-toggle>
          </md-input-container>
          <md-datepicker #pk1 (selectedChanged)="cambiaInicio($event)"></md-datepicker>
        </td>
        <td>
          <md-input-container  >
            <input mdInput [mdDatepicker]="pk2" placeholder="Termino:" [(ngModel)]="ff" name="fecha" >
            <md-datepicker-toggle  mdSuffix [for]="pk2"></md-datepicker-toggle>
          </md-input-container>
          <md-datepicker #pk2 (selectedChanged)="cambiaTermino($event)"></md-datepicker>
        </td>
        <td>
          <md-input-container  mdTooltip="">
            <input mdInput name="descripcion" required [(ngModel)]="descripcion" maxlength="200" placeholder="Descripcón"  >
          </md-input-container>
        </td>
        <td>
          <button [disabled]="f.invalid" md-raised-button color="primary" (click)="agregarNomina(f.value)">Agregar</button>
        </td>
      </tr> 
    </thead>
  </table>
</form>

<app-detalle-nomina *ngIf="verdetalle" [id_nom]="id_detalle"></app-detalle-nomina>

<md-spinner *ngIf="cargando"></md-spinner>
<table class="table table-striped table-sm table-bordered" *ngIf="!cargando">
  <thead>
    <tr>
      <th >* </th>
      <th>ID</th>
      <th>Descripción</th>
      <th>inicio</th>
      <th>Termino</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dts of registros;let i=index">
      <th scope="row"> 
        <md-icon class="btnl" md-list-icon (click)="eliminar(dts.id)">delete_forever</md-icon>
        <md-icon class="btnl" md-list-icon (click)="elimin(dts.id)">lock</md-icon>
        <md-icon class="btnl" md-list-icon (click)="calcularNomina(dts.id)">update</md-icon>
          <md-icon class="btnl" md-list-icon *ngIf="!verdetalle" (click)="expander(dts)">expand_more</md-icon>
          <md-icon class="btnl" md-list-icon *ngIf="verdetalle" (click)="contraer(dts)">expand_less</md-icon>
      </th>
      <td class="text-right">{{dts.id}}</td>
      <td class="text-right">{{dts.descripcion }}</td>
      <td class="text-right">{{dts.inicio }}</td>
      <td class="text-right">{{dts.termino }}</td>
    </tr>
  </tbody>
</table>
